<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_1024_Miner.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <_1024_Miner.My.MySettings>
            <setting name="algo" serializeAs="String">
                <value>scrypt</value>
            </setting>
            <setting name="serverip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>5599</value>
            </setting>
            <setting name="wallet" serializeAs="String">
                <value/>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>x</value>
            </setting>
            <setting name="x" serializeAs="String">
                <value>x64</value>
            </setting>
        </_1024_Miner.My.MySettings>
    </userSettings>
</configuration>
